<div class="container mt-5 concern">
    <h1 class="text-center alert alert-danger"><u><b>SHOP BY CONCERN</b></u></h1>
    </div>
    <ul>
    </li>
    <div class="concern-1">
    <a href="#">Solutions for Ageing skin</a>
    </div>
    <div class="concern-2">
    <a href="#">Solutions for Dry skin</a>
    </div>
    <div class="concern-3">
    <a href="#">Solutions for Acne</a>
    </div>
    <div class="concern-4">
    <a href="#">Solutions for Pigmentation</a>
    </div>
    
    </li>
    </ul>