{% load static %}
<div class="container mt-5 routine">
<h1 class="text-center alert alert-danger"><u><b>SHOP BY ROUTINE</b></u></h1>
</div>
<div class="routine-1">
    <a href="#"><img src={% static "core/images/Cleanse.webp" %} width="450px" height="150px"></a>
 </div>
 <div class="routine-2">
    <a href="#"><img src={% static "core/images/Correct.webp" %} width="450px" height="150px"></a>
 </div>
 <div class="routine-3">
    <a href="#"><img src={% static "core/images/Moisturize.jpeg" %} width="450px" height="150px"></a>
 </div>
 <div class="routine-4">
    <a href="#"><img src={% static "core/images/Protect.jpeg" %} width="450px" height="150px"></a>
 </div>